@import url('Rubik.css');

@import url('welcomeView.css');
@import url('experimentView.css');

@import url('hamburgerMenuComponent.css');

/* General styling */
body {
  font-family: "Rubik", sans-serif;
  user-select: none;
  background: var(--bg-color);
  color: var(--txt-color);
  margin: 0;
}

.elipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.view {
  display: none;
  height: 100vh;
}

select {
  padding: .5rem;
  font-family: "Rubik", sans-serif;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}