<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<script>
/*
 * Root component
 */
export default {}
</script>

<style>
	.fade-enter-active, .fade-leave-active {
		transition: opacity .2s;
	}
	.fade-enter-active {
		transition-delay: .2s;
	}
	.fade-enter, .fade-leave-to {
		opacity: 0;
	}
</style>
