/* View: ExperimentView */

#experimentView {
  grid-template-rows: 2.7rem 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2px;
}

.textfield {
  padding: .25rem;
}

#top-bar {
  display: grid;
  grid-row: 1;
  grid-template-columns: 2.7rem 1fr 2.7rem;
  grid-template-rows: 1fr;
  height: 2.7rem;
  z-index: 1;
}

#experiment-title-input {
  line-height: 2.7rem;
  text-align: center;
  font-size: 1.4rem;
  background: var(--topbar-bg);
  border: none;
  outline: none;
  color: var(--topbar-text);
  font-family: "Rubik", sans-serif;
  transition: box-shadow 0.3s;
  box-shadow: rgba(0, 0, 0, 0) 0 calc(2.7rem + 1000rem + 2px) 0 1000rem;
}

#experiment-title-input:placeholder-shown:focus {
  box-shadow: rgba(0, 0, 0, 0.7) 0 calc(2.7rem + 1000rem + 2px) 0 1000rem;
}

#experiment-title {
  -webkit-app-region: drag;
  cursor: default;
  line-height: 2.7rem;
  text-align: center;
  font-size: 1.4rem;
  background: var(--topbar-bg);
  color: var(--topbar-text);
  padding: 1px;
}

.topbarbtn {
  font-size: 1.1rem;
  background: var(--topbar-bg);
  color: var(--topbar-text);
  border: none;
  outline: none;
  z-index: 2;
}

.topbarbtn:hover, .topbarbtn:focus {
  background: var(--topbar-hover);
}

.topbarbtn:active {
  background: var(--topbar-active) !important;
}

#details-editor {
  display: grid;
  grid-row: 2;
  grid-template-rows: 1fr 4rem;
  /* WebStorm doesn't recognise fit-content -_- */
  /*noinspection CssInvalidFunction*/
  grid-template-columns: fit-content(1px) 1fr;
  padding: 1rem;
}

#details-desc {
  resize: none;
  grid-row: 1;
  grid-column: 1 / 3;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background: var(--topbar-bg);
  color: var(--topbar-text);
  border: 1px solid var(--topbar-active);
}

#details-device-label {
  grid-row: 2;
  grid-column: 1 / 2;
  margin: auto 1rem auto 0;
}

#details-device-label.rtl {
  margin: auto 0 auto 1rem !important;
}

#details-device {
  grid-row: 2;
  grid-column: 2 / 3;
  margin: 1rem 0 1rem 0; /* Only top and bottom */
  background: var(--topbar-bg);
  color: var(--topbar-text);
  border: 1px solid var(--topbar-active);
  width: 100%;
  padding: 0 1rem;
}

#sensor-editor {
  grid-row: 2;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.sensor-container {
  background: var(--sensor-bg);
  margin: .5rem;
  border-radius: .5rem;
  max-width: 30rem;
  flex-grow: 1;
}

.sensor-title {
  text-align: center;
  line-height: 2rem;
  padding-top: .2rem;
}

.sensor-remove-btn {
  background: none;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 0 .9rem;
  line-height: 1.9rem;
  vertical-align: middle;
  color: var(--txt-color);
  cursor: pointer;
}

.sensor-remove-btn:hover, .sensor-remove-btn:focus {
  -webkit-text-stroke-width: 1.2px;
}

.sensor-pins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .1rem .7rem .7rem;
}

.pin-selector {
  background: var(--sensor-pin-bg);
  padding: .6rem;
  margin: .2rem;
  border-radius: .3rem;
  text-align: center;
}

.pin-selector > span {
  margin-right: .6rem;
}

.pin-selector > span.rtl {
  margin-right: 0;
  margin-left: .6rem;
}

.new-sensor-container {
  background: var(--sensor-bg);
  margin: .5rem;
  border-radius: .5rem;
  max-width: 30rem;
  flex-grow: 1;
}

.new-sensor-title {
  text-align: center;
  padding: .4rem;
}

.new-sensor-inner-container {
  background: var(--sensor-pin-bg);
  padding: .6rem;
  margin: .2rem auto .7rem auto;
  border-radius: .3rem;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.new-sensor-inner-container > select {
  width: 100%;
  flex-grow: 1;
}

.new-sensor-btn {
  width: 3rem;
  flex-grow: 0;
}