// short = ain, long = analogIn
mixin pin-selectors(short, long)
	//
		- var attr1 = {}
		- attr1["rv-each-" + short] = "sensor."+long+"puts"
		- var attr2 = {}
		- attr2["rv-each-" + short + "-pos"] = long+"PossiblePins"
		.pin-selector&attributes(attr1)
			span(rv-class-rtl="'_dir' | l10n | isEq 'rtl'") { sensor.type | getSensorType | get "#{long}puts" | get %#{short}% | l10n }
			select(rv-value=short, rv-on-change="updated")
				option(rv-value=short + "-pos")&attributes(attr2) { #{short}-pos | ternary #{short}-pos "?" }
	.pin-selector(rv-each-ain="sensor.analogInputs")
			span(rv-class-rtl="'_dir' | l10n | isEq 'rtl'") { sensor.type | getSensorType | get "analogInputs" | get %ain% | l10n }
			select(rv-value="s.wtf", rv-on-change="updated")
				option(rv-each-ain-pos="analogInPossiblePins", rv-value="ain-pos") { ain-pos | ternary ain-pos "?" }


#experimentView.view(x-view-title="experiment_setup", x-view-path="/experiment_setup")
	#top-bar
		button#experiment-menu-btn.topbarbtn.unfocus(rv-on-click="toggleMenu") &#9776;
		input#experiment-title-input(rv-value="exp.title", rv-show="state.detailsOpen", rv-placeholder="'empty_title' | l10n", dir="auto", size="1")
		div#experiment-title(rv-text="exp.title", rv-hide="state.detailsOpen")
		button.topbarbtn.unfocus(rv-on-click="toggleExperimentDetailsView")
			| { state.detailsOpen | ternary "&#10003;" "&#9998;" }
	#details-editor(rv-show="state.detailsOpen")
		textarea#details-desc(rv-value="exp.desc", rv-placeholder="'description' | l10n")
		#details-device-label(rv-l10n="'device_colon'", rv-class-rtl="'_dir' | l10n | isEq 'rtl'")
		select#details-device(rv-value="exp.device", dir="ltr")
			option(rv-each-device="deviceSelection", rv-value="index") { device }
	#sensor-editor(rv-hide="state.detailsOpen")
		.sensor-container(rv-each-sensor="exp.sensors")
			.sensor-title
				| { sensor.type | getSensorType | get "name" | l10n }
				button.sensor-remove-btn(rv-on-click="remove_sensor") &#215;
			.sensor-pins
				+pin-selectors("ain", "analogIn")
				//+pin-selectors("aout", "analogOut")
				//+pin-selectors("din", "digitalIn")
				//+pin-selectors("dout", "digitalOut")
			canvas.sensor-vis-chart(rv-hide="'1'")
			.sensor-vis-value { sensor.vis_value }
		.new-sensor-container
			.new-sensor-title(rv-l10n="'create_new_sensor'")
			.new-sensor-inner-container
				select(rv-value="state.newSensorSelection")
					option(rv-each-sensor="sensorTypes", rv-value="index") { sensor.name | l10n }
				button.new-sensor-btn(rv-on-click="add_sensor") +
	hamburger-menu(menu-items-attr="hamMenuItems", menu-open-attr="state.hamMenuOpen", rv-class-shown="state.hamMenuOpen", rv-class-rtl="'_dir' | l10n | isEq 'rtl'")

