doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Loading...
		link(rel="stylesheet", href="main.css")
		link(id="theme-link", rel="stylesheet", rv-href="'themes/' | + theme | + 'theme.css'")
		script(src="system.js")
		script(src="rivets.js")
		script(src="page.js")
	body(dir=_dir)
		// Components
		include ../components/hamburgerMenu/index

		// Views
		include ../views/welcomeView/index
		include ../views/experimentView/index

		// Scripts
		script(src="compiled.js")
		script.
			System.import("UI/controllers/main");