/* Component: HamburgerMenu */

hamburger-menu {
  position: fixed;
  top: 2.8rem;
  left: -16em;
  background: var(--topbar-bg);
  box-shadow: rgba(50, 50, 50, 0.7) 0 0 3px 1px;
  transition: left 0.2s, right 0.2s;
}

hamhamburger-menu.rtl {
  left: unset;
  right: -16em;
}

hamburger-menu.shown {
  left: 0;
}

hamburger-menu.shown.rtl {
  left: unset;
  right: 0;
}

.hamburger-menu-item {
  padding: .7rem 1.2rem;
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--topbar-text);
}

.hamburger-menu-item:hover, .hamburger-menu-item:focus {
  background: var(--topbar-hover);
}

.hamburger-menu-item:active {
  background: var(--topbar-active);
}