<template lang="pug">
	q-layout(
		ref="layout",
		view="lHh LpR fff",
		v-model="menusOpen",
		:left-class="{'bg-grey-2': true}",
		:right-breakpoint="700"
	)
		q-toolbar(slot="header")
			q-btn(flat, @click="$refs.layout.toggleLeft()")
				q-icon(name="menu")
			q-toolbar-title(v-text="projName")
		div(slot="left")
			q-list(no-border link inset-delimiter)
				q-item(@click="$refs.detailsModal.open()", v-ripple.mat="")
					q-item-side(icon="edit")
					q-item-main(:label="$t('Edit project details')")

				q-item(@click="closeProject()", v-ripple.mat="")
					q-item-side(icon="close")
					q-item-main(:label="$t('Close project')")

				q-item-separator

				q-item(@click="$refs.devicesModal.open()", v-ripple.mat="")
					q-item-side(icon="bluetooth disabled")
					q-item-main(:label="$t('Not connected')")

				q-item(@click="showSettingsMenu", v-ripple.mat="")
					q-item-side(icon="settings")
					q-item-main(:label="$t('Settings')")
		div(slot="right")
			q-list(no-border link inset-delimiter)
				q-list-header New sensor
				q-item(
					v-ripple.mat="",
					v-for="(sensorType, index) in sensorTypes",
					:key="index + 'st'",
					@click="addSensor(index)"
				)
					q-item-side(:icon="sensorType.icon")
					q-item-main(:label="sensorType.name", :sublabel="sensorType.desc")

		.layout-padding.row.justify-center.items-start.content-start
			sensor-container.grow-1(
				v-for="(sensor, index) in sensors",
				:key="index + 's'",
				:sensor="sensor",
				@remove="removeSensor(index)"
			)

		q-modal(ref="detailsModal", :content-css="{minWidth: '80vw', minHeight: '80vh'}")
			q-modal-layout
				q-toolbar(slot="header")
					q-btn(flat, @click="$refs.detailsModal.close()")
						q-icon(mat="arrow back", ios="ion-ios-arrow-back")
					q-toolbar-title {{ $t('Project Details') }}
				.layout-padding
					.column
						q-field(icon="label")
							q-input(v-model="projName", :float-label="$t('Project name')")
						q-field(icon="description")
							q-input(v-model="projDesc", type="textarea", :stack-label="$t('Project description')", :min-rows="7")
						q-field(icon="devices")
							q-select(v-model="projDevice", :options="deviceTypes", :float-label="$t('Device')")

		q-modal(ref="devicesModal",  :content-css="{minWidth: '40vw', minHeight: '80vh'}")
			q-modal-layout
				q-toolbar(slot="header")
					q-btn(flat, @click="$refs.devicesModal.close()")
						q-icon(mat="arrow back", ios="ion-ios-arrow-back")
					.q-toolbar-title {{ $t('Devices') }}
				q-list(no-border link inset-delimiter)
					q-item(@click="", v-ripple.mat="")
						q-item-side(icon="bluetooth")
						q-item-main(label="Sensorboard", sublabel="20:16:11:17:17:80")
</template>

<script lang="coffee">
	import {
		QLayout
		QToolbar
		QToolbarTitle
		QBtn
		QList
		QListHeader
		QIcon
		QItem
		QItemSide
		QItemMain
		QItemSeparator
		QModal
		QModalLayout
		QInput
		QSelect
		QField

		Ripple

		Toast
	} from 'quasar'
	import SensorContainer from './SensorContainer'

	import router from "../router.coffee"
	import {store} from "../store.coffee"

	import devices, {defaultDevice} from "../data/devices.coffee"
	import sensorTypes from "../data/sensorTypes.coffee"

	export default {
		name: "experiment",
		components: {
			QLayout
			QToolbar
			QToolbarTitle
			QBtn
			QList
			QListHeader
			QIcon
			QItem
			QItemSide
			QItemMain
			QItemSeparator
			QModal
			QModalLayout
			QSelect
			QField
			QInput

			SensorContainer
		},
		directives: {
			Ripple: Ripple
		},
		methods: {
			closeProject: () ->
				router.go(-1)
			addSensor: (index) ->
				store.commit("addSensor", index)
				this.$refs.layout.hideCurrentSide()
			removeSensor: (index) ->
				store.commit("removeSensor", index)
			showSettingsMenu: () ->
				Toast.create({
					html: "Unimplemented",
					icon: "warning"
				})

		},
		computed: {
			sensors: () ->
				return store.state.experiment.sensors
		},
		data: () -> {
			sensorTypes
			menusOpen: {
				left: false
				right: true
			}

			projName: "Untitled Experiment"
			projDesc: ""
			projDevice: defaultDevice


			deviceTypes: devices.map (device) -> {
				label: device.name
				value: device.id
				handler: () -> 0
			}
			sensorTypes


		}
	}
</script>

<style scoped>
	.q-toolbar-title {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: default;
	}

	.grow-1 {
		flex-grow: 1;
	}
</style>