<template lang="pug">
	q-card(style="max-width: 30rem;", inline)
		q-card-title.bg-grey-2
			| {{ sensor.name }}
			span(slot="subtitle") {{ sensorTypes[sensor.type].name }}
			q-btn(round, small, flat, slot="right", @click="$emit('remove')")
				q-icon(name="delete")
		q-card-separator
		q-card-main
			q-select(
				v-for="(inpName, index) in sensorTypes[sensor.type].analogInputs",
				:options="ainPins",
				:float-label="$t(inpName)"
			)
			| {{ JSON.stringify(sensor) }}
</template>

<script lang="coffee">
	import {
		QCard
		QCardMain
		QCardSeparator
		QCardTitle
		QBtn
		QIcon
		QField
		QSelect
	} from 'quasar'

	import {store} from "../store.coffee"

	import sensorTypes from '../data/sensorTypes.coffee'

	export default {
		name: "sensor-container"
		props: ["sensor"]
		components: {
			QCard
			QCardMain
			QCardSeparator
			QCardTitle
			QBtn
			QIcon
			QField
			QSelect
		}
		data: () -> {
			sensorTypes
			ainPins: store.state.experiment.device
		}
	}
</script>

<style scoped>

</style>