<template lang="pug">
		.column(style="background: #f4f4f4; height: 100vh;")
			img#logo(src="~assets/logo.png")
			q-list#actions.shadow-4.relative-position(style="max-width: 600px; background: #fafafa;")
				q-item(
					link,
					v-for="(action, index) in actions",
				  :key="index + 'a'",
				  @click="action.handler()",
					v-ripple.mat="")
					q-item-side(:icon="action.icon")
					q-item-main(:label="action.label")
				q-item-separator
				q-list-header Recents
				q-item(
				link,
				v-for="(recent, index) in recents",
				:key="index + 'r'",
				@click="recent.handler()")
					q-item-side(:icon="recent.icon")
					q-item-main(:label="recent.label")
					q-item-side(right)
						q-btn(small, round)
							q-icon(name="delete")
				q-item-separator
				.disclaimer This software is licensed under GPL3<br>Copyright &#169; 2017 David Shlemayev

</template>

<script lang="coffee">
	import {
		QList
		QListHeader
		QItem
		QItemSide
		QItemMain
		QItemSeparator
		QBtn
		QIcon
		Ripple
	} from 'quasar'
	import router from "../router.coffee"

	export default {
		components: {
			QList
			QListHeader
			QItem
			QItemSide
			QItemMain
			QItemSeparator
			QBtn
			QIcon
		},
		directives: {
			Ripple: Ripple
		},
		name: "welcome",
		data: () -> {
			actions: [
				{
					label: 'New Experiment',
					icon: 'poll',
					handler: () -> router.push("/experiment")
				}
				{
					label: 'New Program',
					icon: 'code',
					handler: () -> console.log("clicked")
				}
				{
					label: 'Open',
					icon: 'folder open',
					handler: () -> console.log("clicked")
				}
			],
			recents: [
				{
					label: 'A',
					icon: 'poll',
					handler: () -> console.log("clicked")
				}
				{
					label: 'B',
					icon: 'poll',
					handler: () -> console.log("clicked")
				}
				{
					label: 'C',
					icon: 'code',
					handler: () -> console.log("clicked")
				}
			]
		}
	}
</script>

<style scoped>
	#logo {
		margin: auto;
		width: 100vw;
		max-width: 15rem;
	}

	#actions {
		margin: auto;
		width: 20rem;
	}

	/*noinspection CssOptimizeSimilarProperties*/
	.disclaimer {
		margin: .5rem;
		margin-top: 1rem;
		text-align: center;
	}
</style>