#welcomeView.view(x-view-title="welcome", x-view-path="/")
	#welcomeViewContent
		br
		.big-btn-holder
			button.big-btn.elipsis.unfocus#newexp-btn(rv-on-click="newExperiment", rv-l10n="'new_experiment'")
			button.big-btn.elipsis.unfocus#newproj-btn(rv-l10n="'new_program'")
			button.big-btn.elipsis.unfocus#open-btn(rv-l10n="'open'")
		br
		br
		.recents-holder
			.recent-item(rv-each-item="recents | slice 0 4")
				img.recent-item-img(rv-src="item.type | isEq 'experiment' | ternary 'img/experiment.png' 'img/program.svg'")
				.recent-item-title.elipsis(dir="auto", rv-class-path-empty="item.path | length | ternary 0 1") { item.title }
				.recent-item-path.elipsis(dir="ltr") { item.path }
				button.recent-item-remove.unfocus(rv-on-click="remove_recent") &#10005;
			p.no-recents-notice.elipsis(rv-unless="recents | length", rv-l10n="'no_recent_projects'")
	#welcomeViewDisclaimer
		p.disclaimer
			|This software is licensed under GPL3<br>Copyright &#169; 2017 David Shlemayev