/* View: WelcomeView */
#welcomeView {
  display: grid;
  background: linear-gradient(to bottom, var(--topbar-bg) 0%,rgba(0,0,0,0) 5rem);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4.5rem;
}

#welcomeViewContent {
  grid-column: 1;
  grid-row: 1;
}

#welcomeViewDisclaimer {
  grid-column: 1;
  grid-row: 2;
}

.big-btn-holder {
  width: 20rem;
  max-width: calc(100vw - 2rem);
  margin: auto;
}

.big-btn {
  font-size: 1.2rem;
  width: 100%;
  line-height: 2.5rem;
  margin: .7rem 0;
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: .5rem;
  background: var(--mainbtn-color);
  color: var(--txt-color);
  outline: none;
  box-shadow: var(--mainbtn-color) 0 0 0 0;
  transition: box-shadow 0.1s, background 0.1s;
  cursor: pointer;
}

.big-btn:hover:enabled, .big-btn:focus {
  background: var(--mainbtn-hover-color);
  box-shadow: var(--mainbtn-hover-color) 0 0 0 3px;
}

.big-btn:active {
  background: var(--mainbtn-active-color) !important;
  box-shadow: var(--mainbtn-active-color) 0 0 0 2px !important;
}

.disclaimer {
  color: var(--gray-txt-color);
  text-align: center;
}

.recents-holder {
  width: 50rem;
  max-width: calc(100vw - 2rem);
  margin: auto;
}

.recent-item {
  background: var(--recent-bg-1);
  display: grid;
  grid-template-columns: 4.2rem 1fr 3.1rem;
  grid-template-rows: 2fr 1fr;
  grid-gap: .3rem;
  height: 3.1rem;
  padding: .5rem;
  margin: 1px;
  cursor: pointer;
}

.recent-item:nth-child(even) {
  background: var(--recent-bg-2);
}

.recent-item:hover {
  background: var(--recent-bg-hover);
}

.recent-item-img {
  grid-column: 1;
  grid-row: 1 / 3;
  height: 2.9rem;
  padding: 0.1rem;
  margin: auto;
}

.recent-item-title {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.3rem;
  line-height: 2rem;
}

.recent-item-title.path-empty {
  grid-row: 1 / 3;
  line-height: 3.1rem;
}

.recent-item-path {
  grid-column: 2;
  grid-row: 2;
  font-size: .8rem;
}

.recent-item-remove {
  grid-column: 3;
  grid-row: 1 / 3;
  background: transparent;
  color: var(--txt-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.recent-item-remove:focus, .recent-item-remove:hover {
  background: var(--recent-remove-hover);
}

.recent-item-remove:active {
  background: var(--recent-remove-active) !important;
}

.no-recents-notice {
  display: block;
  height: 3.1rem;
  padding: .5rem;
  width: 100%;
  margin: auto;
  text-align: center;
  font-style: italic;
  color: var(--txt-color);
}